<%- contentFor('navbar') %>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li>
      <a href="/">
        <i class="nc-icon nc-globe"></i>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a href="/transactions/create">
        <i class="nc-icon nc-book-bookmark"></i>
        <p>Create a Transaction</p>
      </a>
    </li>
    <li class="active">
      <a href="/transactions/list">
        <i class="nc-icon nc-align-left-2"></i>
        <p>List of Transactions</p>
      </a>
    </li>
    <li>
      <a href="/transactions/search">
        <i class="nc-icon nc-zoom-split"></i>
        <p>Search a Transaction</p>
      </a>
    </li>
  </ul>
</div>
<%- contentFor('body') %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> List of Transactions</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Sender</th>
              <th>Receiver</th>
              <th>Data</th>
              <th class="text-right">Timestamp</th>
            </thead>
            <tbody>
              <% for (transaction of transactions){%>
                <form enctype="multipart/form-data" method="post" action="/transactions/get">
                <tr>
                  <td><%= transaction.sender %></td>
                  <td><%= transaction.receiver %></td>
                  <td><%= transaction.filepath %></td>
                  <td class="text-right"><%= transaction.timestamp %></td>
                  <td><input type="hidden" id="file_name" name="file_name" value="<%= transaction.filepath %>" /></td>
                  <td><button class="btn btn-primary btn-round" value="Upload" type="submit">Open</button></td>
                </tr>
              </form>
              <% } %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- contentFor('data') %>
